<h1 style="text-align:center; color:#D4B1AA;"><%= @movie.title %></h1>
<h2 style="text-align:center; color:#A29B8D">Year Created: <%= @movie.creation_year %></h2>
<h2 style="text-align:center; color:#A29B8D">Genre: <%= @movie.genre %></h2>
<h2 style="text-align:center; color:#A29B8D">Average Actor Age: <%= @movie.avg_act %></h2>

<ul style="color:#555555; text-align:center;">
  <% @movie.act_age.each do |a| %>
    <h3>Actor: <%= a.name %></h3><br>
    <p><b>Age: <%= a.age %></p></b><br/>
  <% end %>
</ul>

<h3 style="color:#A29B8D">Create New Actor</h3>
<%= form_with model: @actor, method: :post, url: movie_actors_path(@movie), class: 'actor_form', local: true do |a| %>
  <%= a.label :name, 'Name:' %><br>
  <%= a.text_field :name %><br>
  <%= a.label :age, 'Age (digits only):' %><br>
  <%= a.text_field :age %><br/>
  <p><%= a.submit 'Create Actor' %></p>
<% end %>
